<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="settingsDialog">
		<title>Pac0&apos;s Ship Sandbox</title>
		<minsize>200,300</minsize>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX|wxMINIMIZE_BOX|wxFRAME_SHAPED</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Strength</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER1" variable="sldStrength" member="yes">
					<value>5</value>
					<max>10</max>
					<style>wxSL_LABELS</style>
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>Buoyancy</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER2" variable="sldBuoyancy" member="yes">
					<value>4</value>
					<max>10</max>
					<style>wxSL_LABELS</style>
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Wave Height</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER4" variable="sldWaveHeight" member="yes">
					<value>2</value>
					<max>10</max>
					<style>wxSL_LABELS</style>
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
					<label>Water Pressure</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER5" variable="sldWaterPressure" member="yes">
					<value>5</value>
					<max>10</max>
					<style>wxSL_LABELS</style>
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
					<label>Ocean Depth</label>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER3" variable="sldSeaDepth" member="yes">
					<value>150</value>
					<min>50</min>
					<max>1000</max>
					<tickfreq>50</tickfreq>
					<style>wxSL_LABELS</style>
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX2" variable="chkShowStress" member="yes">
					<label>Highlight Stress</label>
					<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkQuickFix" member="yes">
					<label>Quick Water Fix</label>
					<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
